@import (reference) "../../themes/index.less";
@table-prefix-cls: ~"@{ant-prefix}-table";
@spin-prefix-cls: ~"@{ant-prefix}-spin";

.@{table-prefix-cls}-wrapper-full-height {
  .@{table-prefix-cls} {
    height: 100%;

    &-container {
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    &-body {
      flex: 1 1;
    }
  }

  &.@{table-prefix-cls}-wrapper {
    height: 100%;
  }

  .@{spin-prefix-cls} {
    &-nested-loading,
    &-container {
      height: 100%;
    }
  }
}
